



<section class=" w-[70%] h-screen mx-auto my-0 ;">
    <div class="flex flex-col items-center mx-auto bg-background rounded-lg  md:flex-row md:max-w-xl ">
        <img class=" mr-10 object-cover w-50 rounded-[50%] h-50 md:h-50 md:w-50 md:rounded-[50%]" src="/mi foto.jpg" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h2 class="mb-2 text-4xl font-medium font-hammersmith tracking-wide text-textColor2 dark:text-white">Hello everyone, <br>
                I introduce myself</h2>
            <p class=" mb-4 text-lg font-normal font-jetbrains text-textColor3 dark:text-gray-400"> My name is Jorge Boutrous </p>  
            <p class="mb-4 text-lg font-normal text-textColor1 dark:text-gray-400">I am a student of technology in analysis and software development and I am almost ready to finish.</p>
        </div>
    </div>
</section>

