---
import "../styles/global.css"
import Navbar from "../components/navbar.astro"
import About from "../components/about.astro"
import Experience from "../components/experience.astro"
---



<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-background">
  

    <Navbar />
    <About />
    <Experience />

  
</body>
</html>
    